.header-box {
  width: 100%;
  height: 8vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-itembox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin-left: 20px;
}

.header-item {
  margin-right: 30px;
  font-size: 18px;
}
